<div class="view-container">
    <div class="view-header">
        <div class="header-content">
            <h1>Categorías</h1>
            <p>Organiza tus productos en diferentes categorías.</p>
        </div>
        <div class="header-actions">
            <button class="primary-button"><lucide-icon [img]="PlusCircleIcon" size="16"></lucide-icon><span>Nueva
                    Categoría</span></button>
        </div>
    </div>
    <div class="card">
        <p class="placeholder">Aquí se mostrará la lista y gestión de categorías.</p>
    </div>
</div>