
@import 'leaflet/dist/leaflet.css';

:host {
  display: block;
}

// Leaflet specific overrides if needed to match theme
::ng-deep {
  .leaflet-container {
    background: #f3f4f6; // gray-100
  }

  .dark .leaflet-container {
    background: #1f2937; // gray-800
  }

  // Hide leaflet controls if desired, or style them
  .leaflet-control-attribution {
     display: none;
  }
}
