<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ isEditMode ? 'Edit' : 'Create' }} Journal</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" id="name" formControlName="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">Code</label>
                            <input type="text" id="code" formControlName="code" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Type</label>
                            <select id="type" formControlName="type" class="form-select">
                                <option value="SALES">Sales</option>
                                <option value="PURCHASES">Purchases</option>
                                <option value="CASH">Cash</option>
                                <option value="BANK">Bank</option>
                                <option value="GENERAL">General</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="journalForm.invalid">Save</button>
                        <a [routerLink]="['/app/accounting/journals']" class="btn btn-secondary ms-2">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>