@use "../../../../assets/styles/view-styles" as views;
@use "../../../../assets/styles/forms" as mixins;

// Reutiliza los estilos de la vista de Libro Mayor
@use "../general-ledger/general-ledger.page.scss";

.filter-bar {
  @include views.card;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1.5rem;

  .form-field {
    @include mixins.form-field;
    flex-grow: 1;
  }
}
