<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h1 class="auth-title">Establecer Nueva Contraseña</h1>
      <p class="auth-subtitle">
        Crea una nueva contraseña segura para tu cuenta.
      </p>
    </div>

    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="auth-form"
      *ngIf="token"
    >
      <div formGroupName="passwordGroup">
        <div
          class="form-field"
          [class.error]="
            passwordGroup.get('password')?.invalid &&
            passwordGroup.get('password')?.touched
          "
        >
          <label for="password" class="input-label">Nueva Contraseña</label>
          <div class="input-wrapper">
            <lucide-icon
              [img]="LockIcon"
              size="18"
              class="input-icon"
            ></lucide-icon>
            <input
              id="password"
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="password"
              placeholder="Mínimo 8 caracteres"
              (focus)="showPasswordHints = true"
              (blur)="onPasswordBlur()"
            />
            <button
              type="button"
              class="toggle-password"
              (click)="passwordVisible = !passwordVisible"
            >
              <lucide-icon
                [img]="passwordVisible ? EyeOffIcon : EyeIcon"
                size="18"
              ></lucide-icon>
            </button>
          </div>

          @if (showPasswordHints) {
          <div class="password-hints-popup">
            <p [class.valid]="passwordValue.length >= 8">
              <lucide-icon
                [color]="passwordValue.length >= 8 ? '#057a15' : '#7a0505'"
                [img]="passwordValue.length >= 8 ? CheckIcon : XIcon"
                size="16"
              ></lucide-icon>
              Al menos 8 caracteres
            </p>
            <p [class.valid]="hasLowerCase(passwordValue)">
              <lucide-icon
                [color]="hasLowerCase(passwordValue) ? '#057a15' : '#7a0505'"
                [img]="hasLowerCase(passwordValue) ? CheckIcon : XIcon"
                size="16"
              ></lucide-icon>
              Una letra minúscula
            </p>
            <p [class.valid]="hasUpperCase(passwordValue)">
              <lucide-icon
                [color]="hasUpperCase(passwordValue) ? '#057a15' : '#7a0505'"
                [img]="hasUpperCase(passwordValue) ? CheckIcon : XIcon"
                size="16"
              ></lucide-icon>
              Una letra mayúscula
            </p>
            <p [class.valid]="hasNumber(passwordValue)">
              <lucide-icon
                [color]="hasNumber(passwordValue) ? '#057a15' : '#7a0505'"
                [img]="hasNumber(passwordValue) ? CheckIcon : XIcon"
                size="16"
              ></lucide-icon>
              Un número
            </p>
            <p [class.valid]="hasSpecialChar(passwordValue)">
              <lucide-icon
                [color]="hasSpecialChar(passwordValue) ? '#057a15' : '#7a0505'"
                [img]="hasSpecialChar(passwordValue) ? CheckIcon : XIcon"
                size="16"
              ></lucide-icon>
              Un símbolo
            </p>
          </div>
          }
        </div>

        <div
          class="form-field"
          [class.error]="
            passwordGroup.hasError('passwordMismatch') ||
            (passwordGroup.get('confirmPassword')?.invalid &&
              passwordGroup.get('confirmPassword')?.touched)
          "
        >
          <label for="confirmPassword" class="input-label"
            >Confirmar Contraseña</label
          >
          <div class="input-wrapper">
            <lucide-icon
              [img]="LockIcon"
              size="18"
              class="input-icon"
            ></lucide-icon>
            <input
              id="confirmPassword"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirma tu nueva contraseña"
            />
            <button
              type="button"
              class="toggle-password"
              (click)="confirmPasswordVisible = !confirmPasswordVisible"
            >
              <lucide-icon
                [img]="confirmPasswordVisible ? EyeOffIcon : EyeIcon"
                size="18"
              ></lucide-icon>
            </button>
          </div>
          @if (passwordGroup.hasError('passwordMismatch') &&
          passwordGroup.get('confirmPassword')?.touched) {
          <div class="error-message">Las contraseñas no coinciden.</div>
          }
        </div>
      </div>

      @if (errorMessage) {
      <div class="error-message global-error" role="alert">
        <lucide-icon [img]="AlertCircleIcon" size="16"></lucide-icon>
        <span>{{ errorMessage }}</span>
      </div>
      } @if (successMessage) {
      <div class="success-message global-success" role="alert">
        <lucide-icon [img]="CheckCircleIcon" size="16"></lucide-icon>
        <span>{{ successMessage }}</span>
      </div>
      }

      <button
        type="submit"
        class="submit-button"
        [disabled]="isLoading"
        [class.loading]="isLoading"
      >
        @if(isLoading){
        <span class="spinner"></span>
        }
        <span>Guardar Contraseña</span>
      </button>
    </form>

    @if(!token) {
    <div class="error-message global-error" role="alert">
      <lucide-icon [img]="AlertCircleIcon" size="16"></lucide-icon>
      <span>{{ errorMessage }}</span>
    </div>
    }
  </div>
</div>
