
<app-auth-layout>
  <div class="auth-view fade-in">
    <div class="header">
      <h2>{{ 'AUTH.RESET_PASSWORD.TITLE' | translate }}</h2>
      <p>{{ 'AUTH.RESET_PASSWORD.SUBTITLE' | translate }}</p>
    </div>

    <div *ngIf="errorMessage()" class="alert-error">
      <lucide-icon [img]="AlertCircleIcon"></lucide-icon>
      <p>{{ errorMessage() | translate }}</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <app-auth-input
        [label]="'AUTH.PASSWORD_LABEL'"
        [placeholder]="'AUTH.PASSWORD_PLACEHOLDER'"
        type="password"
        [icon]="LockIcon"
        [control]="$any(passwordControl)"
        errorKey="AUTH.ERRORS"
      ></app-auth-input>

      <app-auth-input
        [label]="'AUTH.CONFIRM_PASSWORD_LABEL'"
        [placeholder]="'AUTH.CONFIRM_PASSWORD_PLACEHOLDER'"
        type="password"
        [icon]="LockIcon"
        [control]="$any(confirmPasswordControl)"
        errorKey="AUTH.ERRORS"
      ></app-auth-input>

      <app-auth-button
        type="submit"
        [loading]="isLoading()"
        [disabled]="form.invalid"
      >
        {{ 'AUTH.RESET_PASSWORD.SUBMIT_BUTTON' | translate }}
      </app-auth-button>
    </form>
  </div>
</app-auth-layout>
